%ul.business_catgnav.wow.fadeInDown
  %li
    %figure.bsbig_fig
      = render 'widgets/partials/render_image_or_video', post: post
      %figcaption
        = link_to post.title, post_path(post), title: post.title
      - if post.description.present?
        %p
          != truncate strip_tags(post.description), length: 100