.single_sidebar.wow.fadeInDown
  %h2
    %a.sideAdd{:href => "https://beget.com/?id=88338", :target => "_blank"}
      %img{:border => "0", :src => "https://cp.beget.com/promo_data/static/static330x250_1.png"}/